<img src="/assets/images/icon-retweet.png">
<span>Repost this to your followers?</span>
<div>
    <span class="tele-link" {{action "yesRepost"}}>Yes</span> &#149; <span class="tele-link" {{action "noRepost"}}>No</span>
</div>
