<li class="stream-item border-bottom">
    <div class="tele-post">
        <div class="content clearfix">
            <div class="stream-item-header">
                <img class="avatar" src="/assets/images/icon-retweet.png">
                <div>Repost this to your followers?</div>
                <div>
                    <span class="tele-link" {{action "yesRepost"}}>Yes</span> &#149; <span class="tele-link" {{action "noRepost"}}>No</span>
                </div>
            </div>
        </div>
    </div>
</li>