<ol class="stream-items">
{{#each itemController="post"}}
    {{user-post name=name user=id picture=picture isCurrentUser=isCurrentUser isUserRoute=isUserRoute model=model}}
  {{else}}
    <li class="empty-stream text-center"><h3>Not Following Anyone...</h3></li>
  {{/each}}
</ol>