<ol class="stream-items">
  {{#each itemController="post"}}
    {{user-post text=text name=author.name user=author.id time=time isCurrentUser=isCurrentUser isUserRoute=isUserRoute model=model}}
  {{else}}
    <li class="empty-stream text-center"><h3>No more posts... {{#if session.isAuthenticated}}{{#link-to "dashboard"}}Want to add one?{{/link-to}}{{/if}}</h3></li>
  {{/each}}
</ol>