<ol class="stream-items">
  {{#each itemController="post"}}
    {{user-post text=text name=author.name user=author.id picture=author.picture time=time isCurrentUser=isCurrentUser isUserRoute=isUserRoute model=model action="delete"}}
  {{else}}
    <li class="empty-stream text-center"><h3>{{currentUser}} has no posts... {{#if isCurrentUser}}{{#link-to "dashboard"}}Want to add one?{{/link-to}}{{/if}}</h3></li>
  {{/each}}
</ol>