<ol class="stream-items">
  {{#each itemController="post"}}
    {{partial "post"}}
  {{else}}
    <li class="empty-stream text-center"><h3>You have no posts... {{#link-to "dashboard"}}Want to add one?{{/link-to}}</h3></li>
  {{/each}}
</ol>