<ul>
  {{#each post in controller}}
  <li>
    Name: {{post.author.name}}
    <p>Post: {{post.text}}</p>
    <p>{{post.timeStamp}} - <label {{action "delete" on="click"}}>delete</label></p>
  </li>
  {{/each}}
</ul>