<form name="signupForm" class="content signup">
	<h3>Reset password</h3>
	<p class="input"><input placeholder="Enter your email"></p>
	<p class="input"><input class="tele-btn left" type="submit" value="Reset Password" title="Reset Password">
</form>