<article class="clearfix account">
	<div class="account container">
  		<section class="box left col-1-2">
  			<img class="front-logo-content" src="/assets/images/telegram-logo.png">
  			<div class="vertical_line"></div>
  		</section>
  		<section class="box col-1-2">
  			<img class="postmark" src="/assets/images/postmark.png">
  			{{outlet}}
  		</section>
	</div>
</article>

